In [48]:
#import pandas as pd #importa a biblioteca panda com o novo nome 'pd'
#dadosX = pd.read_csv("Dados_origin/atividades-extensao.csv", sep=";") #Carrega o dataset para a variável dadosX
#dadosX[dadosX.ano_projeto >= 2009] #Filtrei os dados maiores ou iguais à 2009
#dadosX.head(10000) #Mostra todas as colunas e 5 linhas
#dadosX.isnull().sum() #Mostra a soma dos itens que tem dados nulos
#dadosX.sort_values(by=['tipo_atividade']) #Organiza de acordo com uma ou mais colunas especificadas entre colchetes
#len(dadosX) #Mostra quantidade de linhas
#dadosX['bairro']

id_atividade                                 0
tipo_atividade                               0
titulo                                       0
ano_projeto                                  0
data_inicio                                  0
data_fim                                     0
localizacao                               2641
municipio                                  397
bairro                                   17335
id_unidade                                   0
unidade                                      0
coordenador                                  0
area_tematica                                0
area_conhecimento_cnpq                       1
situacao                                     0
tipo_projeto                                 0
forma_projeto                                0
numero_edital                            19750
edital                                   19750
bolsas_edital                            19750
bolsas_solicitadas                           0
bolsas_concedidas                            0
publico_interno                              1
publico_alvo_interno                      1347
publico_externo                           2053
publico_alvo_externo                      7724
quantidade_discentes                         1
objetivos_desenvolvimento_sustentavel    26791
dtype: int64

In [203]:
#dadosX['localizacao'].isnull().head()
#dadosX.sort_values(by='municipio', ascending=False, na_position='first') #Ordena primeiro os NaN
#dadosX[dadosX['localizacao'].isnull()].query('tipo_projeto == "EXTENSÃO" and tipo_atividade == "PROJETO" and forma_projeto == "INTERNO"')[['titulo','unidade','area_tematica','ano_projeto']]#.isnull().sum()#['tipo_atividade'].unique()
#dadosX.query('tipo_projeto == "EXTENSÃO" and tipo_atividade == "PROJETO" and forma_projeto == "INTERNO"')
#dadosX[dadosX['tipo_projeto'] == 'EXTENSÃO']
dadosX[dadosX['publico_interno'].isnull()][['quantidade_discentes','publico_interno','area_conhecimento_cnpq']]

       quantidade_discentes  publico_interno area_conhecimento_cnpq
29307                   NaN              NaN                    NaN

In [182]:
dadosX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29338 entries, 0 to 29337
Data columns (total 28 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id_atividade                           29338 non-null  int64
 1   tipo_atividade                         29338 non-null  object
 2   titulo                                 29338 non-null  object
 3   ano_projeto                            29338 non-null  int64
 4   data_inicio                            29338 non-null  object
 5   data_fim                               29338 non-null  object
 6   localizacao                            26697 non-null  object
 7   municipio                              28941 non-null  object
 8   bairro                                 12003 non-null  object
 9   id_unidade                             29338 non-null  int64
 10  unidade                                29338 non-null  object
 11  coordenador                            29338 non-null  object
 12  area_tematica                          29338 non-null  object
 13  area_conhecimento_cnpq                 29337 non-null  object
 14  situacao                               29338 non-null  object
 15  tipo_projeto                           29338 non-null  object
 16  forma_projeto                          29338 non-null  object
 17  numero_edital                          9588 non-null   object
 18  edital                                 9588 non-null   object
 19  bolsas_edital                          9588 non-null   float64
 20  bolsas_solicitadas                     29338 non-null  int64
 21  bolsas_concedidas                      29338 non-null  int64
 22  publico_interno                        29337 non-null  float64
 23  publico_alvo_interno                   27991 non-null  object
 24  publico_externo                        27285 non-null  float64
 25  publico_alvo_externo                   21614 non-null  object
 26  quantidade_discentes                   29337 non-null  float64
 27  objetivos_desenvolvimento_sustentavel  2547 non-null   object
dtypes: float64(4), int64(5), object(19)
memory usage: 4.1+ MB